
/*------------------------ Estilo THE SECRET KEY -------------------------*/

.encabezado-tsk { 
    color: $color-white;
    font-family: $font-family2;
    font-weight: normal;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 1em;
    margin-bottom: 0px;
}
.subtitulo-tsk {
    @extend .encabezado-tsk;
    font-size: 1.5em;
    padding: 0 0 0.5em;
}

.parrafo {
    font-family: $font-family2;
    color: $color-white;
    font-size: 1.2em;
    text-indent: 5em; 
    line-height: 2em;
    text-align: justify;
    padding: 0 0 1em 1em;
}
.contenedor-tsk {
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5em 5em 0;
    gap: 1em;
}

iframe {
	box-shadow: 12px 10px 3px rgba(0,0,0,17%);
}

/* estilo Boton comprar The Secret Key */

a.boton-tiendaNube {
    display: flex;
    width: 30em;
    background-color:$color-yellow;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 0.6em;
    color:#242423; 
    text-decoration: none; 
    text-transform: uppercase;
    border: none;
    margin-top: 3.5em;
    margin-left: 10em;
    padding: 1.5em; 
    border-radius: 2em; 
    cursor: pointer;
    text-indent: 0;
    justify-content: center;
    transition: height 2s;
}

a.boton-tiendaNube:hover {
    background-image: radial-gradient(circle at 33.67% 21.72%, #ffee52 0, #ffe151 8.33%, #ffd250 16.67%, #ffc251 25%, #ffb053 33.33%, #ff9d53 41.67%, #f28953 50%, #df7652 58.33%, #ce6751 66.67%, #bf5a51 75%, #b25052 83.33%, #a64853 91.67%, #9d4356 100%);
    transition-delay: 0.5s;
    transform: scale(1.2);
}

