
/*------------------------ Estilo THE SECRET KEY -------------------------*/

.encabezado-tsk { 
    color: $color-white;
    font-family: $font-family2;
    font-weight: normal;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 1em;
    margin-bottom: 0px;
}

.subtitulo-tsk {
    @extend .encabezado-tsk;
    font-size: 1.5em;
    padding: 0 0 0.5em;
}

.parrafo-tsk {
    font-family: $font-family2;
    color: $color-white;
    font-size: 1.2em;
    text-indent: 5em; 
    line-height: 2em;
    text-align: justify;
    padding: 0 0 1em 1em;
}
.contenedor-tsk {
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5em 5em 0;
    gap: 1em;
}

iframe {
    width: 560px;
    height: 315px;
	box-shadow: 12px 10px 3px rgba(46, 43, 32, 0.582);
}

/* estilo Boton comprar The Secret Key */

a.boton-tiendaNube {
    display: flex;
    width: 30em;
    background-color:$color-yellow;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 0.6em;
    color:#242423; 
    text-decoration: none; 
    text-transform: uppercase;
    border: none;
    margin-top: 3.5em;
    margin-left: 10em;
    padding: 1.5em; 
    border-radius: 2em; 
    cursor: pointer;
    text-indent: 0;
    justify-content: center;
    transition: height 2s;
}

a.boton-tiendaNube:hover {
    background-color: $color-light-yellow;
    transition-delay: 0.5s;
    transform: scale(1.2);
}

// medias-------
@media (max-width: 768px){
    .encabezado-tsk{
        font-size: 2em;
    }
    .subtitulo-tsk {
        font-size: 1.5em;
    }
    .contenedor-tsk{
        flex-direction: column-reverse ;
    }
    .parrafo-tsk{
        font-size: 1em;
        padding: 0;
    }
    .video {
        display: flex;
        justify-content: space-around;
    }
    iframe {
        width: 510px;
        height: 290px;
    }
    a.boton-tiendaNube {
        width: 25em;
        font-size: 0.7em;
        letter-spacing: 0.1em;
        padding: 1.5em; 
        transition: height 2s;
        justify-content: space-around;
    }
    
    a.boton-tiendaNube:hover {
        transform: scale(1.1);
    }
}

// medias mobile-------
@media (max-width:376px){
        .encabezado-tsk{
            font-size: 1em;
        }
        .subtitulo-tsk {
            font-size: 0.8em;
        }
        .contenedor-tsk{
            flex-direction: column-reverse ;
            padding: 1.5em;
        }
        .parrafo-tsk{
            font-size: 0.7em;
            padding: 0;
        }
        .video {
            display: flex;
            justify-content: space-around;
        }
        iframe {
            width: 280px;
            height: 190px;
        }
        a.boton-tiendaNube {
            width: 25em;
            height: auto;
            font-size: 0.7em;
            letter-spacing: 0.1em;
            padding: 1em; 
            transition: height 2s;
        }
        
        a.boton-tiendaNube:hover {
            transform: scale(1.1);
        }

}
